<%= render "shared/header" %>
  <% if user_signed_in?%>
    <div class="guard-entry">
      警備員登録
      <%=link_to "登録", new_guard_path %>
    </div>

    <div class="guard-search">
      登録警備員検索

    </div>
  <% end %>

  <div class="gaurd-list">
    登録警備員一覧
    <% @guards.each do |guard| %>
      <div class="list">
        <%= image_tag guard.image.variant(resize: '500x500') %>
        <%= guard.guard_name %>
        <%= link_to '紹介ページ', guard_path(guard.id), method: :get %>
      </div>
    <% end %>
  </div>