<header>
  <div class="header-contents">
    <h1>SECURTY MATCHNG</h1>
  </div>
  <div class="right-list">
    <% if user_signed_in?%>
      <%= link_to current_user.name, "#" %></li>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <%= link_to '新規登録', new_user_registration_path %>
    <% end %>
  </div>
</header>

<body>
  <% if user_signed_in?%>
    <div class="guard-entry">
      警備員登録
      <%=link_to "登録", new_guard_path %>
    </div>

    <div class="guard-search">
      登録警備員検索

    </div>
  <% end %>

  <div class="gaurd-list">
    登録警備員一覧
    <% @guards.each do |g| %>
      <div class="list">
        <%#= link_to guard_path(@uard.id), method: :get do %>
          <%= image_tag g.image %>
          <%= g.guard_name %>
        <%# end %>
      </div>
    <% end %>
  </div>
</body>