<div class="bg-success border-bottom">
  <h1>検索結果</h1>
  <% if @results.length !=0 %>
    <% @results.each do |result| %>
      <td>
      <br>
      <li>
        <%= result.guard_name %>
        <%= result.gender %>
        年齢<%= result.age %>歳
        経験年数<%= result.experience %>年
        <%= result.qualification %>
        <%= button_to '紹介ページ', result, method: :get %>
        <a class:"btn-primary">
      </li>
    <% end %>
  <% else %>
    該当する警備員は登録がありません
  <% end %>
  <br>
  <%= link_to 'トップページへ戻る', root_path %>
</div>