<%= render "shared/header" %>

<div class="text-right p-2">
  <%= link_to 'トップページに戻る', root_path %>
</div>

<div class="bg-success text-center">
  <h3>警備員紹介</h3>
  <% if user_signed_in? && current_user.id == @guard.user_id %>
    <div class="border-bottom p-2">
    <%= button_to '編集', edit_guard_path(@guard.id), method: :get %>
    <%= button_to '削除', guard_path(@guard.id), method: :delete %>
    </div>
  <% end %>

  <div class="Introduction-content">
    <%= image_tag @guard.image.variant(resize: '500x500') %>
  </div>

  <h4>プロフィール</h4>
  <div class="border-bottom p-2">
    所属・会社<br />
    <%= @guard.company %>
  </div>

  <div class="border-bottom p-2">
    警備員氏名<br />
    <%= @guard.name_kana %><br />
    <%= @guard.guard_name %>
  </div>

  <div class="border-bottom p-2">
    性別<br />
    <%= @guard.gender %>
  </div>

  <div class="border-bottom p-2">
    年齢<br />
    <%= @guard.age %>歳
  </div>

  <div class="border-bottom p-2">
    経験年数<br />
    <%= @guard.experience %>年
  </div>

  <div class="border-bottom p-2">
    保有資格<br />
    <%= @guard.qualification %>
  </div>
</div>

<div class="bg-primary text-center">
  <div class="p-2">
    <%= @guard.guard_name %>さんとのコメント
      <% if user_signed_in? %>
        <%= form_with(model: [@guard, @message], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "送信" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="messages">
        <h4>＜コメント一覧＞</h4>
        <% if @messages %>
          <% @messages.each do |message| %>
            <p>
              <strong><%= link_to message.user.name, "/users/#{message.user_id}" %>：</strong>
              <%= message.text %>
            </p>
          <% end %>
        <% end %>
      </div>
  </div>
</div>