<div class="text-center">
  <h1>SECURTY MATCHNG</h1>
</div>
<div class="text-right ">
  <% if user_signed_in?%>
    <span class="border border-success rounded">
      <%= current_user.name %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </span>
  <% elsif company_signed_in?%>
    <span class="border border-primary rounded">
      <%= current_user.name %>
      <%= link_to 'ログアウト', destroy_company_session_path, method: :delete %>
    </span>
  <% else %>
    <div class="d-flex  justify-content-around">
      <span class="border border-primary rounded">
      <h2>企業ユーザー</h2>
        <span class="border border-success rounded">
          <%= link_to 'ログイン', new_company_session_path %>
        </span>
        <span class="border border-success rounded">
          <%= link_to '新規登録', new_company_registration_path %>
        </span>
      </span>
      <span class="border border-primary rounded">
      <h2>警備員ユーザー</h2>
        <span class="border border-success rounded">
          <%= link_to 'ログイン', new_user_session_path %>
        </span>
        <span class="border border-success rounded">
        <%= link_to '新規登録', new_user_registration_path %>
        </span>
      </span>
    </div>
  <% end %>
</div>